---
import Layout from "../../layouts/Layout.astro"
import repoLogo from "../../assets/repo_logo.png"
---

<Layout
    lang='es'
    titlePage='R.E.P.O. Wiki'>

    <main class="main">
        <img class="logo" src={repoLogo.src} alt="R.E.P.O. Logo">
        <nav>
            <ul>
                <li><a class="link" href="/">MONSTRUOS</a></li>
                <li><a class="link" href="/">ESTACIÓN DE SERVICIO</a></li>
                <li><a class="link" href="/">OBJETOS DE VALOR</a></li>
                <li><a class="link" href="/">MAPAS</a></li>
                <li><a class="link" href="/">NIVELES DE EXTRACCIÓN</a></li>
                <li><a class="link" href="/">MODS</a></li>
            </ul>
        </nav>
        <section>
            <h2>MONSTRUOS</h2>
            <h3>ANIMAL</h3>
            <p>El Animal es una entidad errante en R.E.P.O. Sus movimientos son muy erráticos e impredecibles, pero en su mayoría inofensivos, ya que su ataque es muy lento y fácil de esquivar. También pisotearán a los <a href="/">Gnomos</a> que pisen, matándolos al instante.</p>
            <h3>Apex Predator</h3>
            <h3>Banger</h3>
            <h3>Bowtie</h3>
            <h3>Chef</h3>
            <h3>Clown</h3>
            <h3>Gnome</h3>
            <h2>Headman</h2>
            <h2>Hidden</h2>
            <h2>Huntsman</h2>
            <h2>Mentalist</h2>
            <h2>Peeper</h2>
            <h2>Reaper</h2>
            <h2>Robe</h2>
            <h2>Rugrat</h2>
            <h2>Shadow Child</h2>
            <h2>Spewer</h2>
            <h2>Trudge</h2>
            <h2>Upscream</h2>
        </section>
    </main>

</Layout>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

    a {
        color: white;
    }

    body {
        font-family: "Smooch Sans", sans-serif;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    .main {
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        margin: 0 auto;
    }
    .logo {
        max-width: 1024px;
    }
    .link {
        font-size: 64px;
    }

</style>