---
import Layout from '../layouts/Layout.astro';
import Grid from '../components/Grid.astro';
import ScrollingBanner from '../components/ScrollingBanner.astro';
import inkarriLogo from '../assets/logo.svg';
import inkarriPhoto from '../assets/image_profile.png';
import linkedinLogo from '../assets/linkedin_logo.svg';
---

<Layout
    lang = 'en'
    titlePage='Inicio'>
    <header class="header">
        <img class="icon logo" src={inkarriLogo.src} alt="Logo Homepage" />
        <ul>
            <li><a class="link" href="/portfolio">Portfolio</a></li>
        </ul>
    </header>
    <main class="main">
        <section class="wrapper banner">
            <div class="description">
                <h1><span class="tiny">Hey, I'm</span>
                    <span class="fullname">inkarri </span><span class="light">Product Designer</span></h1>
                <p>With {new Date().getFullYear() - 2022} years of experience in designing, building and creating technology with purpose and impact positive.</p>
                <a class="button link" target="_blank" href="https://linkedin.com/in/inkarrime">Let's work together</a>
            </div>
            <div class="assets-img">
                <img class="image" src={inkarriPhoto.src} alt="Jhanpiere's Profile">
            </div>
        </section>
        <section id="portfolio" class="wrapper portfolio">
            <div class="description">
                <h2>My Portfolio</h2>
                <p>From projects to personal experiments I work in my spare time.</p>
            </div>
            <Grid></Grid>
        </section>
    </main>
    <footer class="wrapper footer">
        <section class="child">
            <div class="inner">
                <h2>Do you want to contact me?</h2>
                <p>Let's set up a meeting, talk and see what we can create together.</p>
            </div>
            <a class="button link" target="_blank" href="https://linkedin.com/in/inkarrime">Let's work together</a>
        </section>
        <section class="child">
            <a target="_blank" href="https://linkedin.com/in/inkarrime"><img src={linkedinLogo.src} alt="LinkedIn Logo"></a>
            <p style="text-align: center" class="tiny">Creado con Astro.build <br>©{new Date().getFullYear()} - inkarri.me</p>
        </section>
    </footer>

</Layout>

